@page
@model proiect2.Pages.Foods.EditModel

@{
    ViewData["Title"] = "Edit";
}
<style>
    body {
        color: burlywood
    }
</style>
<h1>Edit</h1>

<h4>Food</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Food.ID" />
            <div class="form-group">
                <label asp-for="Food.Denumire" class="control-label"></label>
                <input asp-for="Food.Denumire" class="form-control" />
                <span asp-validation-for="Food.Denumire" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Food.Pret" class="control-label"></label>
                <input asp-for="Food.Pret" class="form-control" />
                <span asp-validation-for="Food.Pret" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Food.PublishingDate" class="control-label"></label>
                <input asp-for="Food.PublishingDate" class="form-control" />
                <span asp-validation-for="Food.PublishingDate" class="textdanger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
