@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4"><b>Bun Venit!</b></h1>
    <p>Site-ul nostru este dedicat cainilor de orice varsta si talie. </p>
    <p>Aici o sa gasiti marca produselor preferate, pretul acestora cat si data in care au fost introduse.</p>
</div>



