@page
@model PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p> Politică de confidențialitate descrie informațiile cu caracter personal pe care le colectăm de la dumneavoastră. </p>
